@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Inter', system-ui, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}