@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-stone-900 bg-stone-50;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}
